rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Insecure: Allow read/write access to all documents.
    // This is for development purposes only.
    // You should secure your database before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
