@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: hsl(var(--border)); border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(var(--accent)); }

@layer base {
  :root {
    --background: 251 60% 94%;
    --foreground: 262 30% 25%;
    --card: 251 60% 99%;
    --card-foreground: 262 30% 25%;
    --popover: 251 60% 99%;
    --popover-foreground: 262 30% 25%;
    --primary: 262 52% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 47% 90%;
    --secondary-foreground: 262 30% 25%;
    --muted: 232 47% 90%;
    --muted-foreground: 262 20% 45%;
    --accent: 232 47% 77%;
    --accent-foreground: 262 52% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 251 40% 88%;
    --input: 251 40% 90%;
    --ring: 262 52% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 262 20% 10%;
    --foreground: 251 30% 95%;
    --card: 262 20% 15%;
    --card-foreground: 251 30% 95%;
    --popover: 262 20% 15%;
    --popover-foreground: 251 30% 95%;
    --primary: 262 52% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 20% 25%;
    --secondary-foreground: 251 30% 95%;
    --muted: 232 20% 25%;
    --muted-foreground: 251 20% 65%;
    --accent: 232 30% 40%;
    --accent-foreground: 251 30% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 20% 25%;
    --input: 232 20% 25%;
    --ring: 262 52% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes breathe {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.03); }
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-breathe {
  animation: breathe 5s ease-in-out infinite;
  transform-origin: bottom center;
}

.animate-jump {
  animation: jump 0.5s ease-in-out;
}
